@model IEnumerable<SheepFit6.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.sheepID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOB)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Booster)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Wormer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tetanus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pneumonia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rabies)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comments)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sheepID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Booster)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wormer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tetanus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pneumonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rabies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
